<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iCreditWorks Provider Portal</title>
</head>
<body>
  <div class="container">
    <div class="login-header">
      <h1 class="header-label">iCreditWorks</h1>
      <div class="login-section">
        <h3>USER LOGIN</h3>
        <form>
          <input type="email" id="email" placeholder="Business Email ID" required>
          
          <input type="password" id="password" placeholder="Password" required>
          
          <div class="remember-me">
            <input type="checkbox" id="remember">
            <label style="color: black;" for="remember">Remember me</label>
          </div>
          <a href="#" class="forgot-password">Don’t remember your password?</a>
          <div class="button-style">
            <button type="submit">Login</button>
          </div>
        </form>
      </div>
      <div class="footer">
        <p style="padding-top: 10px;"><i class="fa fa-lock" aria-hidden="true"></i>Your security is our priority</p>
      </div>
    </div>

    <div class="content-section">
      <h1>The smartest way for your patients to pay for their smiles</h1>
      <p>Introducing a remarkable set of new features that simplify and accelerate everyday tasks performed in the Portal. Providers have even greater visibility and control over flexible financing offered through the iCreditWorks native mobile app.</p>
    </div>
    <div class="devices">
      <img class="desktop-view" src="../assets/images/desktop.png" alt="Desktop view">
      <img class="mobile-view" src="../assets/images/mobile.png" alt="Mobile view">
    </div>
  </div>
</body>
</html>
