body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background: url('../assets/images/back.png') no-repeat center center fixed;
    width: 100%;
    height: 100%;
    color: white;
    overflow-x: hidden;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
  }

  .login-header {
    border-radius: 4px;
    min-width: 350px;
    height: 517px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .login-header .header-label {
    font-weight: 200;
    color: black;
    text-align: center;
    padding-bottom: 4px;
    border-bottom: 3px solid#d26722;
  }

  .login-section {
    background: white;
    padding: 2rem;
    height: 300px;
  }

  .login-section h3 {
    text-align: center;
    color: #333;
    margin-bottom: 3rem;
    font-weight: 400;
  }

  .login-section form {
    display: flex;
    flex-direction: column;
  }

  .login-section label {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }

  .login-section input {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  .login-section .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .login-section .remember-me input {
    margin-right: 0.5rem;
  }

  .login-section button {
    background: #d26722;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
  }

  .button-style {
    display: flex;
    justify-content: center;
  }

  .login-section .forgot-password {
    text-align: center;
    font-size: 12px;
    color: #d26722;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .footer {
    background-color: #5E6B75;
    color: white;
    text-align: center;
    margin-top: 3rem;
    font-size: 12px;
    height: 34px;
  }

  .content-section {
    max-width: 600px;
    padding-left: 80px;
  }

  .content-section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .content-section p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  .devices {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .devices img.desktop-view {
    width: 133%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-self: center;
  }

  .devices img.mobile-view {
    width: 80%;
    position: absolute;
    top: 63%;
    left: 63%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 1280px) {
    .container {
      flex-direction: column;
      align-items: center;
      padding: 2rem;
    }
  
    .login-section {
      width: 80%;
      margin-bottom: 2rem;
    }
  
    .content-section {
      text-align: center;
      max-width: 90%;
    }
  
    .content-section h1 {
      font-size: 2rem;
    }
  
    .devices {
      flex-direction: column;
      align-items: center;
    }
  
    .devices img.desktop-view {
      width: 80%;
      margin-bottom: 1rem;
    }
  
    .devices img.mobile-view {
      width: 60%;
    }
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }

    .login-section {
      width: 80%;
      margin-bottom: 2rem;
    }

    .content-section {
      text-align: center;
      margin-top: 50px;
      max-width: 400px;
      padding-left: 0px;
    }

    .devices img.desktop-view {
      width: 90%;
    }

    .devices img.mobile-view {
      width: 60%;
      top: 66%;
      left: 67%;
    }
  }

  @media (max-width: 480px) {
    .content-section {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding-left: 0px;
    }
    .content-section h1 {
      font-size: 1.8rem;
    }

    .devices img.desktop-view {
      width: 100%;
    }

    .devices img.mobile-view {
      width: 50%;
    }
  }